
   /* Ínicio pagina  */

   
   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   

   * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
   }

   body {
      min-height: 100vh;
      overflow-x: hidden ;
      background: #eaeaea;      
   }
   /* Barra de navegação */
   
  


   .logo {
      width: 300px;
      height: 80px ;
      position:absolute;
      padding-left: 40px;
   }
   
   .navegacao a {
      position: relative;
      font-size: 1.1em ;
      color: #1a1a1a;
      font-weight: 600;
      text-decoration: none;
      margin: 20px;
      padding: 6px 15px;
      transition: .5s;
      float: right;
   }

   .navegacao a:hover,
   .navegacao a.ativo {
      color: #ffffff;
      
   }
 
   .navegacao a span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000000;
      border-radius: 30px;
      z-index: -1 ;
      transform: scale(0);
      opacity: 0;
      transition: .5s;
   }

   .navegacao a:hover span,
   .navegacao a.ativo span {
      transform: scale(1);
      opacity: 1;
      
   }
   /* Fim navegação */
   /* Início imagem principal */
   .imagem-principal {
     display: flex;
     clear: both;
     
   }
   .imagem-principal img {
      width: 1900px;
      height:900px ;
     
   }

   .circulo1 {
      background-color: #427bf5;
      border-radius: 100%;
      width: 600px;
      height: 600px;
      position: absolute;
      top: 240px;
      left: 150px;
      border: 1px solid #2f61ce;
      box-shadow: 7px #ffffff;
   }

   .circulo1 h1 {
      text-align: center; 
      padding-top: 110px; 
      color: #ffffff;
      text-shadow: rgb(73, 71, 71) 1px 0 6px;
   }
   
   .circulo1 p {
      text-align:center; 
      margin: 0px 70px;
      padding-top: 20px;
      font-size: 1.1em;
      font-weight: 400 ;
      color: #ffffff;
      text-shadow: rgb(82, 80, 80) 1px 0 6px;

   }
 
   .botao {
      padding:40px;
      text-align: center;
   }
   .button {
      appearance: none;
      background-color: transparent;
      border: 0.125em solid #ffffff;
      border-radius: 100px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 16px;
      font-weight: 600;
      line-height: normal;
      margin: 0;
      min-height: 3.75em;
      min-width: 0;
      outline: none;
      padding: 1em 3.3em;
      text-align: center;
      text-decoration: none;
      transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      will-change: transform;
   }
   
   .button:disabled {
      pointer-events: none;
     }
     
   .button:hover {
      color: #000000;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
   }
     
   .button:active {
      box-shadow: none;
      transform: translateY(0);
     }

     .fundo {
      height: 800px;
      position: relative;
     }

     
     
     /* Fim imagem principal */
     /* Início perfil da empresa */
     /* Início promessas da empresa */

     .promessas {
      position: absolute;
      margin: 140px 100px ;
      opacity: 0;
      filter: blur(15px);
      transform: translateX(100%);
      transition: all 1s;
     }
     .primeiro-texto {
      text-align: left;
      width:500px ;
      height: 250px;
      font-weight: 500;
      font-size: 30px;
      margin: 5px;      
   }

     .circulo2 {
      background-color:#2f61ce;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      margin: 25px;
     }
     /* Fim promessas */
     /* Início corporativo */
     .corporativo {
      position: absolute;
      margin: 105px 850px;
      opacity: 0;
      filter: blur(15px);
      transform: translateX(-100%);
      transition: all 1s;
     }

     .texto2 {
      padding-left: 10px;
      padding: 50px;
     }
     .segundo-texto {
      text-align: left;
      font-size: 20px;
      height: 243px;
      width: 800px;
     }

     .circulo3 {
      background-color:#2f61ce;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      float: right;
     }
     /* Fim corporativo */
     .show {
      opacity: 1;
      filter: blur(0px);
      transform: translateX(0%);
      transition: all 2s;
     }
     
     /* Fim perfil da empresa */
     /* Exposições */
    

    .caixa {
      display:inline-block ;
      background-color: #2f61ce;
      position: absolute;
      
    }

    .exposicoes  {
      height:2000px;
      width: 1910px;
      display:inline-block;
      text-align: center;
    }

    .meio {
      text-align: center;
      padding: 150px;
    }

    .cartas1 {
      margin: 2px;
      display: flex;
      padding-left: 115px;
    }
   .conteudo-exposicao {
      background-color: #ffffff;
      width: 400px;
      height: 570px;
      border-radius:20px ;
      display: inline-block;
      margin: 7px;
      text-align: left;
      padding: 25px;
      
   }

   .foto-pequena {
    display: inline-block;
    width: 50px;
    height: 50px;
   }

   .idade {
      display: inline-block;
      padding: 10px;
   }

   .informacoes {
      padding: 15px 0px 20px 0px;
   }

   .foto-exposicao {
      width: 350px;
      height: 220px;
   }
   /* Fim exposição */
   .fundo-footer {
      position: absolute;
      top: 3525px;
      background-color: #e4e4e4;
      display: inline-block;
      width: 1910px;
      height: 700px;
      z-index: 2;
   }
   
   .cartas2 {
      display: inline-block;
      width: 1000px;
      text-align: center;
      position: absolute;
      left: 495px;
      top: -150px;
   }

   .informacoes-footer {
      background-color: #ffffff;
      width: 300px;
      height: 300px;
      border-radius: 20px;
      display: inline-block;
      text-align: center;
      margin: 5px;
      float:left;
      padding-top: 30px;
   }
   .endereco, .numerodetelefone, .email {
      width: 100px;
      height: 100px;
      
   }
   
.form {
  padding: 30px ;
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  background-color: #ffffff;
  /background-color: #0a192f;
  border-radius: 20px;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #ffffff;
  box-shadow: inset 2px 5px 10px rgb(206, 206, 206);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #000000;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 3em;
  padding: 1em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color:#000000;
  font-weight: bold;
  outline: 1px solid #000000;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px #000000;
}

.form-card1 {
  border-radius: 22px;
  transition: all 0.3s;
  display: inline-block;
  width: 750px;
  position: absolute;
  top:280px ;
  left: 100px;
}

.agradecimento {
   width: 700px;
   height: 250px;
   position: absolute;
   left: 950px;
   top: 300px;
}

.agradecimento h1 {
   color: #2f61ce;
   font-size: 60px;
}

.agradecimento p strong i {
   font-size: 25px;
   color: #4b4a4a;

}

.agradecimentop {
   font-size: 25px;
   color: #757575;
}

.emaillinks {
   text-decoration: none;
   color: #000000;
}
.social-links {
   display: flex;
   justify-content: left; /* Centraliza as imagens horizontalmente */
   gap: 20px; /* Espaçamento entre as imagens */
   margin-top: 20px; /* Espaço acima dos ícones, se necessário */
}

.social-links a {
   text-decoration: none; /* Remove a sublinha do link */
}

.social-links img {
   width: 50px; /* Define o tamanho das imagens */
   height: 50px;
}


/* sobre nós */
#textosobrenos {
   width: 60em;
   height: 50em;
   display: flex;
   clear: both;
   position: relative;
   background-color: #f3f3f3;

   }

.textosobre {
   margin: 250px 0px 0px 200px ;
}
.textosobre h8 {
   letter-spacing:5px ;
   font-size: 25px;
   text-transform: uppercase;
}

.textosobre p {
   padding-top: 50px;
   text-align: left;
   font-size: 20px;      
   height: 200px;
   width: 700px;
   }
#imagemsobre {
   width: 60em;
   height: 50em;
   display: flex;
   clear: both;
   position: absolute;
   left: 60em;
   top: 78px;
   background-color: #f3f3f3;
}

.imagemsobreimg img {
   height: 600px ;
   width: 660px;
   position: absolute;
   left: 150px;
   top: 100px;
   
}

.maissobre {
   width: 100%;
   height: 50em;
   display: flex;
   clear: both;
   position: relative;
   background-color: #fff;
}

.etec {
   width: 60%;
   text-align: center;
   position: absolute;
   left: 400px;
   top: 300px;
}

.fundo-footer2 {
   position: absolute;
      top: 600px;
      background-color: #e4e4e4;
      display: inline-block;
      width: 1910px;
      height: 700px;
      z-index: 2;
}

 

 @media (max-width: 480px){
   .logo {
      
      width: 50%;
      height:auto ;
      padding-left: 5px;
      padding-top: 7px;
   }

   .navegacao a {
      font-size: 10px ;
      margin: 15px 10px 0px 0px;
      padding: 5px;
   }

   .imagem-principal img {
      width: 100%;
      height:auto;
      margin: 25px 0px 0px 0px;
   }
   
   .circulo1 {
      width: 70%;
      height: 32%;
      top: 20%;
      left: 15%;
      z-index: 3;
   }

   .circulo1 h1 {
      padding-top: 30px;
   }
   .circulo1 p { 
      margin: 0px 30px; 
      font-size: 10px;
   }
  
   .botao {
      padding:20px;
   }
   .button {
      font-size: 10px;
   }
   .promessas {
      margin: 140px 50px ;
   }
   .primeiro-texto {
      width:100% ;
      height: auto;
      font-size: 15px; 
      padding-top: 50%;
   }
   .circulo2 {
      height: 70px;
      width: 70px;
   }
   .corporativo {
      margin: 112% 8%;
   }
   .texto2 {
      margin: 10px;
   }
  .segundo-texto {
      text-align: right;
      font-size: 13px;
      font-weight: 400;
      height: 200px;
      width: 300px;
      margin: 0px 0px 25px 0px;
   }
   .circulo3 {
      height: 75px;
      width: 76px;
      margin: 25px 0px;
   }
   .fundo {
      height: 950px;
      background-color: #c1e0f4;
   }
   .exposicoes  {
      height: 5700px;
      width: 100%;
   }
   .meio {
     width: 100%;
     padding: 55px 0px;
   }
   .cartas1 {
      flex-direction: column;
      padding-left: 1.5%;
   }
   .fundo-footer {
      top: 900%;
      width: 100%;
      height: 850px;
      z-index: 2;
   }
   .cartas2 {
      width: 1900px;
      left: 0.1%;
      top: -50px;
   }
   .informacoes-footer {
      width:100px;
      height: 110px;
      
      
   }
   .fundo-footer {
      top: 6200px;
   }
   .form-card1 {
      left: 5%;
      width: 90%;
      top: 470px;
   }
   .agradecimento {
      left: 5%;
      top: 10%;
      width: 100%;
   }
   .agradecimento h1 {
      font-size: 40px;
   }
   .agradecimento p strong i {
      font-size: 23px;
      
   }
   .agradecimentop {
      font-size: 18px;
   }
   .endereco, .numerodetelefone, .email {
      width: 30px;
      height: 30px;
   }
   .informacoes-footer h3 {
      font-size: 10px;
      padding: 0px;
   }
   .informacoes-footer p {
      font-size: 6px;
      padding: 0px;

   }
   .informacoes-footer img {
      width: 30px;
      height: 30px;
      padding: 0px;

   }
   /* sobre nós*/
   #textosobrenos {
      top: 15px;
      z-index: 7;
      background-color: transparent;
      }
      .textosobre {
         margin: 250px 0px 0px 40px ;
     } 
     .textosobre p {
      width:400px;
      }
      #imagemsobre {
         width: 100%;
         left: 0px;
      }
      .imagemsobreimg img {
         height: 400px ;
         width: 460px;
         left: 0px;
         opacity: 0.3;
         top: 200px;
      }
      .etec {
         width: 60%;
         left: 105px;
         top: 300px;
      }
      .fundo-footer2 {
            top:1700px;
            width: 100%;
            height: 800px;
      }
      .informacoes-footer {
         
         width: 7%;
         height: 10%;
         margin: 5px;
         float:left;
         padding-top: 80px;
      }
      .agradecimento {
         width: 100%;
         height: 250px;
         left: 50px;
         top: 150px;
      }
      .agradecimento h1 {
         font-size: 40px;
         width: 450px;
      }
      .agradecimento p strong i {
         font-size: 13px;
         width: 350px;
      }
      
      .agradecimentop {
         font-size: 13px;
         width: 400px;
      }
      .social-links img {
         width: 40px; /* Define o tamanho das imagens */
         height: 40px;
      }
      
   }
